
.logo{
  width: 30%;
  margin-bottom: 25px;
}
.homepage{
  text-align: center;
  position: relative;
  height: 100%; 
  background-color: #036cb6;
}
.button{
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.button button{
  display: inline-block;
  color: #fff;
  padding: 9px 14px 9px 15.5px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px 0 0 10px;
}
.homepage .login{
  background-color: #702C6A;
}
.homepage .signup{
  background-color: #eea267;
  bottom: -14%;
  left: 58%;
}